* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: 'Open Sans Variable', sans-serif;
}


header {

    margin-bottom: 1rem;

    .container-flex {

        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        margin-top: 1rem;


        nav {

            margin-bottom: 1rem;

            a {
                text-decoration: none;
                color: black;
                padding: 1rem;


            }
        }
    }
}

main {

    .btn {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 0.2rem;
        padding: 0.7rem .7rem;
        ;
    }



    /*
    background-image: url("./assets/img/jumbotron.jpg");
    width: 100%;
    height: 70vh;

    background-color: black;*/




}


footer {



    background-image: url("./assets/img/footer-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;


}